@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
}
body{
  background: #2768BA;
  ;
}
.search-input{
  margin-top: 2cm;
  margin-left: 20%;
  align-items: center;
  width: 750px;
  height: 80px;
  border-radius: 10px;
  padding-left: 20px;
  border: 3px solid black;


}

table {
  margin: 5rem auto;
  background-color: #ffffff;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;

  width: Fixed (1,327px)px;
  height: Hug (760.91px)px;
  top: 82px;
  left: 152px;
  gap: 0px;
  border-radius: 7.69px 0px 0px 0px;
  border: 0.96px 0px 0px 0px;
  opacity: 0px;
}

li, p, a, td{
  font-size: 1.6rem;
  line-height: 1.6;
}

thead {
  font-size: 1.8rem;
  background-color: #efeef3;
  color: #000000;
}

th,
td {
  border: 1px solid #000000;
  min-width: 30rem;
  padding: 1.5rem;
  line-height: 1.7;
}

td {
  font-size: 1.4rem;
}

